body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  &.active-modal {
    overflow: hidden;

    #modal {
      display: block;
    }
  }
}

#content {
  position: relative;
}

#modal {
  background: var(--secondary-color);
  position: fixed;
  width: 200%;
  height: 300%;
  opacity: 0.7;
  z-index: 999;
  top: -50%;
  display: none;
}

#main-content-area {
  margin-top: 3rem;
}

#main-content-area .row {
  margin-top: 0;
  margin-bottom: 1rem;
}

.footer-versions {
  text-align: center;
  font-size: 0.9rem;
  padding: 1rem 0;
}

.input-group {
  display: flex;
}
